body{
    background-color: indigo;;
}
.navbar{
    background-color: #1E1E1E;
}
.txt{
    font-size: 50px;
    color:#fff;  
    padding-top: 100px;
}
.txt2,.txt3{
    font-size: 12px;
    color: #fff;
}
.content{
    border-top-left-radius:10px;
    border-top-right-radius:10px ;
    background-color: #1E1E1E;
}
.second-content{
    border-radius: 10px;
}
.btn{
    border-radius: 10px;
}
.acti:hover{
    background-color:#1E1E1E ;
    color: #fff;
}
